<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="" [routerLink]="['']"><img src="assets/logo.png" alt="Logo" height="100" width="150"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:
        true}">
        <a class="nav-link" href="" [routerLink]="['']">Home</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="" [routerLink]="['/search']">Search</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" href="" [routerLink]="['/settings']">Settings</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
