.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
}
.footer {
    width: 200px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.language-select {
  font-size: 12px;
  width: 100px;
  margin-right: 16px;

  .mat-form-field {
    width: 100%;
  }
}
