<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Settings</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">

  <h1>Welcome to the Initag Front End</h1>
  <h4>The current status of the server is: {{serverStatus}}</h4>

  <h4>Search for a document</h4>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>


  <h4>Available Documents</h4>
  <table *ngIf="documents.length > 0">
    <thead>
      <td>Name</td>
      <td>Original Name</td>
      <td>Size</td>
      <td>Type</td>
      <td>Server Path</td>
      <td>Upload Date</td>
      <td>Download</td>
    </thead>
    <tr *ngFor="let document of documents">
      <td>{{document.name}}</td>
      <td>{{document.originalName}}</td>
      <td>{{document.size}}</td>
      <td>{{document.type}}</td>
      <td>{{document.path}}</td>
      <td>{{document.createdAt}}</td>
      <td><a download href="{{downloadUrl}}/{{document.name}}">Download</a></td>
    </tr>
  </table>
</div>