.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.nav-buttons {
  display: flex;
  flex-direction: column;
  padding-top: 10%;
}