# backend base
pyLDAvis
flask
flask_cors
flask_jsonpify
gunicorn
autoapi
Werkzeug
sphinx
pysolr

# file processing
tika
langdetect
googletrans

# machine learning / data science
nltk
sklearn
scipy
matplotlib
snowballstemmer
pandas
numpy
spacy
gensim
kneed
wordcloud

# misc
urlpath
atoma
lxml
click

# testing
pytest
pytest-solr
