<div class="container">
  <h1>Dashboard InfiniTag</h1>
  <h3> Welcome to InfiniTag - The automated machine learning software solution of Infineon</h3>
  <form class="form-inline my-2 my-lg-0">
    <mat-form-field class="example-full-width">
      <mat-label>Search for documents</mat-label>
      <input matInput placeholder="Search Term" [(ngModel)]="filterString" [ngModelOptions]="{standalone: true}">
    </mat-form-field>
  </form>
  <h5>Available Documents</h5>
  <document-view-table [documents]="documents" [filter]="filterString"></document-view-table>
</div>
