<div class="container">
    <h1>Welcome to the Infinitag Front End</h1>
    <h5>Serving from home component</h5>
    <h5>The current status of the server is: {{serverStatus}}</h5>
    <h5>Search for a document</h5>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<app-file-upload></app-file-upload>
<h5>Available Documents</h5>
<document-view-table></document-view-table>