.container {
    padding-top: 10px;
}
.mat-grid-tile{
    border-style: solid;
    border-width: thin;
}

.list-flex {
  display: flex;
  height: 100%;

}
.list-container {
  overflow-y: scroll;
  padding: 12px;
}

.list {
    width: auto;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 60px;
    display: block;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    position: top;
}

.list-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
}





