
<div class="container">
  <h1>{{'KEYWORDS.KEYWORD_MODEL_SETTINGS' | translate}}</h1>
  <mat-grid-list cols="8" rows="4" gutterSize="32px" rowHeight="1:1.3">
    <mat-grid-tile [colspan]="3" [rowspan]="1">
      <div>
        <mat-form-field>
          <mat-label>{{'KEYWORDS.ADD_DIMENSION' | translate}} ...</mat-label>
          <input matInput type="text" [(ngModel)]=newDimension (keyup.enter)="onDimEnter()">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>{{'KEYWORDS.ADD_KEYWORD' | translate}} ...</mat-label>
          <input matInput type="text" [(ngModel)]=newKeyword (keyup.enter)="onKeyEnter()">
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="2" [rowspan]="4" class="no-center">
      <div class="list-flex">
        <div class="list-container">
          <h2>{{'KEYWORDS.KEYWORD_MODELS' | translate}}</h2>
          <mat-selection-list #kwmList [multiple]="false" (selectionChange)="selectionChange(kwmList.selectedOptions.selected)">
            <mat-list-option *ngFor="let keywordModel of keywordModels; let i = index" [value]="i">
              <div>
                <button mat-icon-button [disabled]="i !== selectedKwmIdx" (click)="removeKeywordModel(keywordModel)">
                  <mat-icon>delete</mat-icon>
                </button>
                {{keywordModel.id}}
              </div>
            </mat-list-option>
          </mat-selection-list>
          <button mat-icon-button (click)="newKeywordModel()"
                  matTooltip="add new kwm">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button (click)="exportKeywordModel()"
                  matTooltip="export kwm"
                  [disabled]="selectedKwmIdx === undefined">
            <mat-icon>save</mat-icon>
          </button>
          <input type='file' style="display: none" (change)="importKeywordModel($event.target.files)" #hiddenfileinput>
          <button mat-icon-button matTooltip="import kwm" (click)="hiddenfileinput.click()">
            <mat-icon>open_in_browser</mat-icon>
          </button>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="4" (dragover)="dragOverEmptyTree($event)" (drop)="dropOverEmptyTree($event)">
      <div class="list-flex">
        <div class="list-container">
          <h2>{{'KEYWORDS.HIERARCHY' | translate}}</h2>
          <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
              <button mat-icon-button disabled></button>
              <div class="checklist-leaf-node"
                [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                                            'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                                            'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}"
                draggable="true" (dragstart)="handleDragStart($event, node, false);" (dragover)="handleDragOver($event, node);"
                (drop)="handleDrop($event, node);" (dragend)="handleDragEnd($event);">
                <span [ngStyle]=nodeStyles[node.nodeType]>{{node.item}}</span>
                <button mat-icon-button (click)="deleteFromHierarchy(node)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </mat-tree-node>

            <mat-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
              <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.filename">
                <mat-icon class="mat-icon-rtl-mirror">
                  {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                </mat-icon>
              </button>
              <div
                [ngClass]="{'drop-above': dragNodeExpandOverArea === 'above' && dragNodeExpandOverNode === node,
                                            'drop-below': dragNodeExpandOverArea === 'below' && dragNodeExpandOverNode === node,
                                            'drop-center': dragNodeExpandOverArea === 'center' && dragNodeExpandOverNode === node}"
                draggable="true" (dragstart)="handleDragStart($event, node, false);" (dragover)="handleDragOver($event, node);"
                (drop)="handleDrop($event, node);" (dragend)="handleDragEnd($event);">
                  <span [ngStyle]=nodeStyles[node.nodeType]>{{node.item}}</span>
                  <button mat-icon-button (click)="deleteFromHierarchy(node)">
                    <mat-icon>delete</mat-icon>
                  </button>
                </div>
            </mat-tree-node>
          </mat-tree>
          <span #emptyItem></span>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="3">
      <div class="list-flex">
        <div class="list-container">
          <h2>{{'KEYWORDS.UNCATEGORIZED_DIMENSIONS' | translate}}</h2>
          <div>
            <div class="example-box" *ngFor="let item of uncatDimensions"  draggable="true" (dragstart)="handleDragStart($event, item, true, NodeType.DIMENSION);"
                (dragend)="handleDragEnd($event);">
              {{item}}
              <button mat-icon-button (click)="deleteDimension(item)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div class="list-container">
          <h2>{{'KEYWORDS.UNCATEGORIZED_KEYWORDS' | translate}}</h2>
          <div class="example-box" *ngFor="let item of uncatKeywords"  draggable="true" (dragstart)="handleDragStart($event, item, true, NodeType.KEYWORD);"
                (dragend)="handleDragEnd($event);">
              {{item}}
              <button mat-icon-button (click)="deleteKeyword(item)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
