<div class="container">
    <h1>Keyword Model Setings</h1>
    <mat-grid-list cols="8" rows="3" gutterSize="32px" rowHeight="1:1.3">
        <mat-grid-tile [colspan]="3" [rowspan]="1">
            <div>
                <mat-form-field>
                    <mat-label>Add Dimension ...</mat-label>
                    <input matInput type="text" [(ngModel)]=newDimension (keyup.enter)="onDimEnter()">
                </mat-form-field>
                <br>
                <mat-form-field>
                    <mat-label>Add Keyword ...</mat-label>
                    <input matInput type="text" [(ngModel)]=newKeyword (keyup.enter)="onKeyEnter()">
                </mat-form-field>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="2" [rowspan]="3" class="no-center">
          <div class="list-flex">
            <div class="list-container">
              <h2>Keywords</h2>
              <mat-selection-list [multiple]="false">
                <mat-list-option *ngFor="let keyword of keywords">
                  {{keyword}}
                </mat-list-option>
              </mat-selection-list>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="3">
          <div class="list-flex">
            <div class="list-container">
              <h2>Hierarchy</h2>
              <div class="example-container">
                <div 
                  cdkDropList
                  #hierarchyList="cdkDropList"
                  [cdkDropListData]="done"
                  [cdkDropListConnectedTo]="[uncatDimensionsList, uncatKeywordsList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of done" cdkDrag>{{item}}</div>
                </div>
              </div>
            </div>
          </div>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="3" [rowspan]="3" >
          <div class="list-flex">
            <div class="list-container">
                <h2>Uncategorized Dimensions</h2>
                <div
                  cdkDropList
                  #uncatDimensionsList="cdkDropList"
                  [cdkDropListData]="uncatDimensions"
                  [cdkDropListConnectedTo]="[hierarchyList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of uncatDimensions" cdkDrag>
                    {{item}}
                    <button mat-icon-button (click)="deleteDimension(item)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
                <!-- <cdk-drop cdkDropList class="list" (cdkDropListDropped)="dropDim($event)">
                    <div class="list-box" *ngFor="let item of uncatDimensions" cdkDrag>
                      {{item}}
                      <button mat-icon-button (click)="deleteDimension(item)">
                        <mat-icon>delete</mat-icon>
                      </button>
                    </div>
                </cdk-drop> -->
            </div>
            <div class="list-container">
                <h2>Uncategorized Keywords</h2>
                <div
                  cdkDropList
                  #uncatKeywordsList="cdkDropList"
                  [cdkDropListData]="uncatKeywords"
                  [cdkDropListConnectedTo]="[hierarchyList]"
                  class="example-list"
                  (cdkDropListDropped)="drop($event)">
                  <div class="example-box" *ngFor="let item of uncatKeywords" cdkDrag>
                    {{item}}
                    <button mat-icon-button (click)="deleteDimension(item)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </div>
                </div>
            </div>
          </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
