<mat-button-toggle #edit>Edit</mat-button-toggle>
<mat-grid-list gutterSize="32px" [cols]="12" [rowHeight]="'250px'" *ngIf="edit.checked">
  <mat-grid-tile [colspan]="8">
    <mat-grid-tile-header>{{'DOCUMENTS.MANUAL_TAGGING' | translate}}</mat-grid-tile-header>
    <!--<button [disabled]=!edit.checked mat-button [matMenuTriggerFor]="menu">{{'DOCUMENTS.APPLY_KEYWORDS' | translate}}</button>
    <mat-menu #menu="matMenu">
      <mat-form-field (click)="$event.stopPropagation()">
        <mat-label>{{ 'DOCUMENTS.SEARCH_KEYWORDS' | translate}}</mat-label>
        <input matInput (keyup)="onKey($event)" (blur)="focus($event)" (click)="$event.stopPropagation()"
          autocomplete="off">
      </mat-form-field>
      <button *ngFor="let keyword of selectedKeywords" mat-menu-item (click)="applyBulkKeywords(keyword)">
        {{keyword.kwm}} {{keyword.id}}
      </button>
    </mat-menu>
    -->
    <mat-form-field class="example-chip-list">
      <mat-chip-list #chipList aria-label="Keyword selection">
        <mat-chip
          *ngFor="let keyword of selectedBulkKeywords"
          [selectable]="selectable"
          [removable]="removable"
          (removed)="remove(keyword)">
          {{keyword.kwm}} {{keyword.id}}
          <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Search Keywords..."
          #bulkKWInput
          [formControl]="bulkKwCtrl"
          [matAutocomplete]="auto"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)">
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
        <mat-option *ngFor="let keyword of filteredBulkKeywords | async" [value]="keyword">
          {{keyword.kwm}} {{keyword.id}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button [disabled]=!edit.checked mat-raised-button color="primary" (click)="applyBulkKeywords()">{{'DOCUMENTS.APPLY_KEYWORDS' | translate}}</button>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-grid-tile-header>{{'DOCUMENTS.AUTOMATED_TAGGING' | translate}}</mat-grid-tile-header>
    <form [formGroup]="taggingForm" (ngSubmit)="onSubmit(taggingForm.value)" class="tile-content">
      <mat-form-field>
        <mat-label>{{'DOCUMENTS.SELECT_TAGGING_METHOD' | translate}}</mat-label>
        <mat-select (selectionChange)="changeTaggingMethod($event)" [value]="selectedTaggingMethod" formControlName="taggingMethod">
          <mat-option *ngFor="let taggingMethod of taggingMethods" [value]="taggingMethod">{{taggingMethod.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field *ngIf="selectedTaggingMethod.type === 'KWM' && keywordModels.length > 0">
        <mat-label>{{'DOCUMENTS.SELECT_KEYWORD_MODEL' | translate}}</mat-label>
        <mat-select formControlName="keywordModel">
          <mat-option *ngFor="let keyWordModel of keywordModels" [value]="keyWordModel">{{keyWordModel.id}}</mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="applyingTaggingMechanism">
        <span *ngIf="!applyingTaggingMechanism">
          {{'DOCUMENTS.APPLY_TAGGING' | translate}}
        </span>
        <mat-progress-spinner *ngIf="applyingTaggingMechanism"
        class="apply-spinner"
        [color]="'primary'"
        [mode]="'indeterminate'"
        [diameter]="30">
        </mat-progress-spinner>
      </button>

    </form>
  </mat-grid-tile>
</mat-grid-list>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)" matSortActive="carbs" matSortDirection="asc">
  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox [disabled]=!edit.checked (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
        [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox [disabled]=!edit.checked (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
        [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="id"> {{'DOCUMENTS.FILENAME' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.title}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="type"> {{'DOCUMENTS.FILE_TYPE' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="language">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="language"> {{'HOME.LANGUAGE' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.language}} </td>
  </ng-container>

  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="size"> {{'SIZE' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.size}} </td>
  </ng-container>

  <ng-container matColumnDef="creation_date">
    <th mat-header-cell *matHeaderCellDef mat-sort-header="creation_date"> {{'DOCUMENTS.CREATEDAT' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.creation_date | date:'dd.MM.yy HH:mm'}} </td>
  </ng-container>

  <ng-container matColumnDef="MyKeywords">
    <th mat-header-cell *matHeaderCellDef> {{'DOCUMENTS.MY_KEYWORDS' | translate}} </th>
    <td mat-cell *matCellDef="let element">
      <mat-chip-list #chipList>
        <mat-chip [ngStyle]="{'background-color': KEYWORD_TYPE_COLORS[keyword.type]}" *ngFor="let keyword of element.keywords" [selectable]="false"
                 [removable]="true" (removed)="removeKeywordFromDocument(element, keyword)">
          {{keyword.value}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>add_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <mat-form-field (click)="$event.stopPropagation()">
          <mat-label>{{ 'DOCUMENTS.SEARCH_KEYWORDS' | translate}}</mat-label>
          <input matInput (keyup)="onKey($event)" (blur)="focus($event)" (click)="$event.stopPropagation()"
            autocomplete="off">
        </mat-form-field>
        <button *ngFor="let keyword of selectedKeywords" mat-menu-item (click)="applyKeyword(element, keyword)">
          {{keyword.kwm}} {{keyword.id}}
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<mat-paginator *ngIf="totalSize > 0" class="paginator--centered" #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="100"
    [pageIndex]="0" (page)="paginate($event)">
</mat-paginator>
