table {
    width: 100%;
}
button:focus {
    outline: none;
}


.tile-content {
  margin-top: 16px;
  width: 100%;

  button {
    width: 100%;
  }
}

.apply-spinner {
  width: 40px ;
  height: 40px;
  display: inline-block;
}
