/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

img {
  max-width: 100%;
}

.logo {
  height: 50px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white;
    border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #31528e;
    border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #31528e;
}


.md-drppicker{background-color:#fff!important;color:rgba(0,0,0,.87)}
.md-drppicker td.available:hover,.md-drppicker th.available:hover{background-color:rgba(0,0,0,.04);color:rgba(0,0,0,.87)}
.md-drppicker td.off,.md-drppicker td.off.end-date,.md-drppicker td.off.in-range,.md-drppicker td.off.start-date{background-color:#fff;border-color:#fff;color:rgba(0,0,0,.38)}
.md-drppicker td.in-range{background-color:#eee;border-color:#eee;color:rgba(0,0,0,.87)}.md-drppicker td.active{transition:background .3s ease-out,border .3s ease-out;background:rgba(0,0,0,.1)}
.md-drppicker td.active,.md-drppicker td.active:hover{background-color:#673ab7;color:#fff}
.md-drppicker .ranges ul li button{border-radius:4px;color:rgba(0,0,0,.87)}
.md-drppicker .ranges ul li button.active{background-color:#673ab7;color:#fff}
.md-drppicker .ranges ul li:hover{border-radius:4px;background-color:rgba(0,0,0,.04);color:#fff}
