.container {
    padding-top: 10px;
}
mat-grid-tile{
    border-style: solid;
    border-width: thin;
}

.edit {
    margin-top: 20px;
}

.footer {
    width: 200px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.content-inside-grid {
    .bar-chart{
        margin-top: -30px;
    }
    width:100%;
}

.circle {
  width: 120px;
  height: 120px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;
  background-color: #3f51b5;
  color: white;
  }

  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 20px;
  }

  .spinner-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
  }




