.container {
    padding-top: 10px;
}
mat-grid-tile{
    border-style: solid;
    border-width: thin;
}

.edit {
    margin-top: 20px;
}

.footer {
    width: 200px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}




